<h1>New Twit</h1>
<div class="col-md-6 col-md-offset-3">
  <%= simple_form_for @twit do |f| %>

    <div>
      <%= f.input :body %>
    </div>

    <div>
      <%= f.button :submit %>
    </div>
  <% end %>
</div>
